# compiled output
.vscode
/.vscode
/node_modules
node_modules

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js

# docker
/.docker

# log
npm-debug.log
api.log
error.log

/.git

.gitignore
Dockerfile
docker-compose.yml
*.yaml
helm
database

dist/
graphql/
test/
